.parent1 {
    padding: 10px 0;
    border: 1px solid pink;
    text-align: center;
}

.parent2 {
    padding: 10px 0;
    border: 1px solid yellowgreen;
    text-align: right;
}

.parent3 {
    padding: 10px 10px 10px 10px;
    border: 1px solid purple;
    text-align: right;
}