#elem {
	width: 155px;
	height: 120px;
	border: 2px solid blue;
	border-radius: 10px 20px 30px 40px;
}
#block {
		width: 155px;
		height: 120px;
		border: 2px solid blue;
		border-radius: 10px 40px;
	
}
#ball {
	width: 155px;
	height: 120px;
	border: 2px solid blue;
	border-radius: 10px 20px 30px;
}