a:link {
	color: blue;
}
a:visited {
	color: green;
}
a:hover {
    color: red;
	text-decoration: none;
}
a:active {
	color: black;
}

b:link, b:visited {
    text-decoration: none;
	color: blue;
}
b:hover {
    text-decoration: underline;
	color: red;
}
b:active {
    text-decoration: none;
	color: blue;
}