#elem {
	padding-top:    10px; /* сверху */
	padding-right:  22px; /* справа */
	padding-bottom: 33px; /* снизу */
	padding-left:   45px; /* слева */
	width: 300px;
	border: 1px solid lightskyblue;
	text-align: justify;
}