.bbb.zzz {
	color: red;
}

h2.bbb.zzz {
	color: red;
}

#elem.bbb {
	color: red;
}

#elem.bbb.zzz {
	color: red;
}

h2#elem.bbb {
	color: red;
}

h2.zzz {
	color: red;
}

h2 .zzz {
	color: red;
}

.bbb.zzz {
	color: red;
}

.bbb .zzz {
	color: red;
}

.bbb.zzz.xxx {
	color: red;
}

.bbb .zzz.xxx {
	color: red;
}

.bbb.zzz .xxx {
	color: red;
}

.bbb .zzz .xxx {
	color: red;
}

#elem.bbb {
	color: red;
}

#elem .bbb {
	color: red;
}
/* 
div p {
	color:red;
} */

/* div h2 {
	color:red;
} */
/* #block p {
	color: red;
} */

/* #block h2 {
	color: red;
} */

/* .bbb{
	color: red;
} */
/* 
#block .bbb{
	color: red;
} */

/* p.bbb {
	color: red;
} */
/* h2.bbb {
	color: red;
} */

/* #block p.bbb {
	color: red;
}
.bbb, .xxx {
	color: red;
} */
/* p.bbb, h2.xxx{
	color: red;
} */
/* p.xxx, p.bbb{
	color: red;
} */
/* .fff{
	color: red;
} */
/* .fff p{
	color: red;
} */
/* p.fff {
	color: red;
} */
/* 
.fff .bbb {
	color: red;
} */
/* .fff h2.bbb{
	color:red;
} */